@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@font-face {
  font-family: SFUIDisplay;
  src: url('assets/fonts/SFUIDisplay-Regular.otf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: SFUIDisplay;
  src: url('assets/fonts/SFUIDisplay-Medium.otf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: SFUIDisplay;
  src: url('assets/fonts/SFUIDisplay-Semibold.otf') format('truetype');
  font-weight: 600;
}

body {
  background-color: #f6f6f6; /* Cambia #ff0000 por el color que desees */
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #001e50 !important;
  font-weight: 400;
}

.ant-tabs-ink-bar {
  position: absolute;
  background: #001e50 !important;
  pointer-events: none;
}

.hide-scrollbar {
  scrollbar-width: none; /* Para navegadores que admiten la propiedad scrollbar-width */
  -ms-overflow-style: none; /* Para Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Para navegadores basados en WebKit (Chrome, Safari, etc.) */
}
#root > main > main > div > div > div.flex-1.overflow-y-auto.bg-main_white > div > div.ant-tabs-content-holder > div{
  height: 100%;
  overflow-y: scroll;
}

.input-focused {
  transform: scale(1.1); /* Cambia el valor según tus preferencias */
  transition: transform 0.15s ease; /* Controla la duración y la suavidad de la animación */
  z-index: 1; /* Asegura que el input esté en la parte superior para que sobresalga */
  box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.137);
}

.ant-popover{
  z-index: 10 !important;
}